**/bin
**/obj
**/out
**/publish

**/.vs
**/.idea
**/.vscode
**/.DS_Store

**/*.user
**/*.suo

.git
.gitignore
.github

docs/
tests/
deploy/

src/BiometricPlatform.Api/uploads/
src/BiometricPlatform.Api/appsettings.Development.json

**/Dockerfile*
**/.dockerignore
